
<!-- In your <head> tag -->
  <script src="https://cdn.botpress.cloud/webchat/v2.3/inject.js"></script>
  <style>
    #webchat .bpWebchat {
      position: unset;
      width: 100%;
      height: 100%;
      max-height: 100%;
      max-width: 100%;
    }
  
    #webchat .bpFab {
      display: none;
    }
  </style>
  
  <!-- Put this on your page BEFORE the script below -->
  <div id="webchat" style="width: 500px; height: 500px;"></div>
  
  <!-- In your <body> tag -->
  <script>
    window.botpress.on("webchat:ready", () => {
      window.botpress.open();
    });
    window.botpress.init({
    "botId": "cce3adcc-63de-49ae-8f1a-606e122557f7",
    "configuration": {
      "composerPlaceholder": "Chat with DeGLS",
      "botName": "DeGLS",
      "botAvatar": "https://files.bpcontent.cloud/2025/03/23/00/20250323001326-7K9XYHBU.png",
      "botDescription": "AI-Assisted Management Recommendations",
      "website": {},
      "email": {},
      "phone": {},
      "termsOfService": {},
      "privacyPolicy": {},
      "color": "#688042",
      "variant": "solid",
      "themeMode": "light",
      "fontFamily": "inter",
      "radius": 1.5,
      "additionalStylesheetUrl": "https://files.bpcontent.cloud/2025/03/23/00/20250323004401-ARI910VZ.css",
      "allowFileUpload": true
    },
    "clientId": "e1dd609e-e2fb-44e7-b5d7-bfc2a99365c9",
    "selector": "#webchat"
  });
  </script>
  